@model List<Model.EF.KhachHang>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Customer{
    <script src="~/Assets/js/Customer.js"></script>
    <script type="text/javascript">
        $(window).bind("load",function () {
            var row = "<button class='btn btn-primary' data-toggle='modal' data-target='#Category_Modal_Insert'>Thêm</button>";
            $('.dataTables_filter').css({"width": "100%"})
            $('#datatable-checkbox_filter > label').css({ "float": "left" })
            $('#datatable-checkbox_filter').append(row);
        })
</script>
}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Xin chào <small>tên thằng đăng nhập</small></h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    @*<div class="input-group">
                        <input type="text" class="form-control" placeholder="Tìm kiếm...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                        </span>
                    </div>*@
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title" style="margin-bottom: 0;">
                        <h2>
                            Danh sách khách hàng</small>
                        </h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li style="float: right">
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            @*<li class="dropdown">
                                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                  <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Settings 1</a>
                                    </li>
                                    <li><a href="#">Settings 2</a>
                                    </li>
                                  </ul>
                                </li>*@
                            @*<li>
                                    <a class="close-link"><i class="fa fa-close"></i></a>
                                </li>*@
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        @*<div class="col-md-12">
                            <button class="btn btn-primary" id="Add_Cus" data-toggle="modal" data-target="#Category_Modal_Insert" style="margin-top: 5px; float:right">Thêm</button>
                        </div>*@

                        <table id="datatable-checkbox" class="table table-striped table-bordered bulk_action">
                            <thead>
                                <tr>
                                    @*<th>
                                          <th><input type="checkbox" id="check-all" class="flat"></th>
                                        </th>*@
                                    <th>Họ tên</th>
                                    <th>Địa chỉ</th>
                                    <th>Số tài khoản</th>
                                    <th>Số điện thoại</th>
                                    <th></th>
                                    <th>Tùy chọn</th>
                                </tr>
                            </thead>


                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        @*<td>
                                              <th><input type="checkbox" id="check-all" class="flat"></th>
                                            </td>*@
                                        <td>@item.Ten</td>
                                        <td>@item.DiaChi</td>
                                        <td>@item.SoTK</td>
                                        <td>@item.SoDT</td>
                                        <td></td>
                                        <td style="text-align: center"><button type="button" class="btn btn-primary btn_edit_cus" data-id="@item.MaKH" data-toggle="modal" data-target="#Category_Modal_Edit">Sửa</button> | <button class="btn btn-danger delete_cus" data-id="@item.MaKH" onclick="">Xóa</button></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="Category_Modal_Insert" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Sản phẩm</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-control form_modal_div" style="border: 0px; margin-bottom: 2px;">
                                <div class="col-md-3 ">Tên khách hàng</div>
                                <div class="col-md-9"><input type="text" class="form_modal_input" name="" id="Cus_name"></div>
                            </div>
                            <div class="form-control form_modal_div" style="border: 0px; margin-bottom: 2px;">
                                <div class="col-md-3 form_modal_label">Địa chỉ</div>
                                <div class="col-md-9"><input type="text" class="form_modal_input" name="" id="Cus_address"></div>
                            </div>
                            <div class="form-control form_modal_div" style="border: 0px; margin-bottom: 2px;">
                                <div class="col-md-3 form_modal_label">Số tài khoản</div>
                                <div class="col-md-9"><input type="text" class="form_modal_input" name="" id="Cus_bank"></div>
                            </div>
                            <div class="form-control form_modal_div" style="border: 0px; margin-bottom: 2px;">
                                <div class="col-md-3 form_modal_label">Số điện thoại</div>
                                <div class="col-md-9"><input type="text" class="form_modal_input" name="" id="Cus_phone"></div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-success" id="Insert_Cus">Lưu</a>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                        </div>
                    </div>

                </div>
            </div>

            <div class="modal fade" id="Category_Modal_Edit" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Sản phẩm</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-control form_modal_div" style="visibility: hidden">
                                <div class="col-md-3 form_modal_label">Mã khách hàng</div>
                                <div class="col-md-9"><input type="text" class="form_modal_input" name="" id="Cus_code_E"></div>
                            </div>
                            <div class="form-control form_modal_div">
                                <div class="col-md-3 form_modal_label">Tên khách hàng</div>
                                <div class="col-md-9"><input type="text" class="form_modal_input" name="" id="Cus_name_E"></div>
                            </div>
                            <div class="form-control form_modal_div">
                                <div class="col-md-3 form_modal_label">Địa chỉ</div>
                                <div class="col-md-9"><input type="text" class="form_modal_input" name="" id="Cus_address_E"></div>
                            </div>
                            <div class="form-control form_modal_div">
                                <div class="col-md-3 form_modal_label">Số tài khoản</div>
                                <div class="col-md-9"><input type="text" class="form_modal_input" name="" id="Cus_bank_E"></div>
                            </div>
                            <div class="form-control form_modal_div">
                                <div class="col-md-3 form_modal_label">Số điện thoại</div>
                                <div class="col-md-9"><input type="text" class="form_modal_input" name="" id="Cus_phone_E"></div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-success" id="Edit_Cus">Lưu</a>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
