
@{
    ViewBag.Title = "Time_keeping";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var list_da = ViewBag.list_da;
    var FirstShow = ViewBag.FirstShow;
}
@section Asignment{
    <script src="/Assets/js/Task.js"></script>
}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Chấm công</h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title" style="margin-bottom: 0;">
                        <h2>
                            Danh sách nhân viên</small>
                        </h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li style="float: right">
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table id="datatable-checkbox" class="table table-bordered bulk_action" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th colspan="10" class="center">
                                        <!-- form search advanced -->
                                        <form class="form-inline" id="formSearch">
                                            <div class="form-group">
                                                <label for="project">Chọn dự án:</label>
                                                <select class="form-control" id="choose_project" style="width:140px;">
                                                    <option selected value="0">Tất cả</option>
                                                    @foreach (var item in list_da)
                                                    {
                                                        <option value=@item.ID>@item.Ten</option>
                                                    }
                                                </select>
                                            </div>
                                        </form>
                                        <!--end form search advanced-->

                                    </th>
                                </tr>
                                <tr id="tr_bynone">
                                    <th style="width:100px;">Mã NV</th>
                                    <th style="width:200px;">Họ tên</th>
                                    <th style="width:100px;">Mã dự án tham gia</th>
                                    <th style="width:350px;">Tên dự án</th>
                                    <th style="width:100px;">Số công</th>
                                    <th style="width:100px;">Tổng công</th>
                                </tr>
                                <tr id="tr_byproject"></tr>
                            </thead>
                            <tbody id="chamcong_table">
                                @if (FirstShow.Count == 0)
                                {
                                    <tr><td colspan="5">Không có dữ liệu hiển thị</td></tr> }
                                else
                                {
                                    long prev_nv = 0;
                                    foreach (var item in FirstShow)
                                    {
                                        <tr>
                                            @if (item.MaNV != prev_nv)
                    {
                                                <td rowspan=@item.TongDA>@item.MaNV</td>
                                                <td rowspan=@item.TongDA>@item.Ten</td>
                                            }
                                            <td style="width:100px; ">@item.MaDA</td>
                                            <td>@item.TenDA</td>
                                            <td style="border-right-width:1px;">@item.Cong</td>
                                            @if (item.MaNV != prev_nv)
                    {
                                                <td rowspan=@item.TongDA>@item.TongCong</td>
                                            }
                                            @{prev_nv = item.MaNV;}
                                        </tr>
                                                    }

                                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
