@model List<Model.ViewModel.DuAnViewModel>
@{
    ViewBag.Title = "Index";
    List<Model.EF.KhachHang> cus = ViewBag.KhachHang;
    List<Model.ViewModel.NhanVienViewModel> emp = ViewBag.NhanVien;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Project{
    <script src="~/Assets/js/Project.js"></script>
    }
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Quản lý dự án</h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    @*<div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>*@
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Dự án</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            @*<li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="#">Settings 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>*@
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-12 form-group">
                        <button class="btn btn-primary" style="float: right" data-toggle="modal" data-target="#CalenderModalNew">Thêm dự án</button>
                    </div>
                    <div class="x_content">

                        <!-- start project list -->
                        <table class="table table-striped projects">
                            <thead>
                                <tr>
                                    <th style="width: 1%">#</th>
                                    <th style="width: 20%">Tên dự án</th>
                                    <th>Thành viên</th>
                                    <th>Tiến độ</th>
                                    <th>Trạng thái</th>
                                    <th style="width: 20%">Hành động</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>#</td>
                                        <td>
                                            <a>@item.Ten</a>
                                            <br />
                                            <small>@item.NgayTao</small>
                                        </td>
                                        <td>
                                            <ul class="list-inline">
                                                @foreach (var l in item.ThanhVien)
                                                {
                                                    <li>
                                                        @*<img src="images/user.png" class="avatar" alt="Avatar">*@
                                                        <span>@l.MaNV </span>
                                                    </li>
                                                }                      
                                            </ul>
                                        </td>
                                        <td class="project_progress">
                                            <div class="progress progress_sm">
                                                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="@item.TienDo"></div>
                                            </div>
                                            <small>@item.TienDo% hoàn thành</small>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-success btn-xs">Thành công</button>
                                        </td>
                                        <td>
                                            <a class="btn btn-primary btn-xs" href="/Project/Statistic/@item.ID" id="detail_pro"><i class="fa fa-folder"></i> Chi tiết </a>
                                            <button class="btn btn-info btn-xs" data-id="@item.ID" id="edit_pro"><i class="fa fa-pencil"></i> Sửa </button>
                                            <button class="btn btn-danger btn-xs" data-id="@item.ID" id="delete_pro"><i class="fa fa-trash-o"></i> Xóa </button>
                                        </td>
                                    </tr>
                                }
                                
                            </tbody>
                        </table>
                        <!-- end project list -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="CalenderModalNew" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Thêm dự án</h4>
            </div>
            <div class="modal-body">
                <div id="testmodal" style="padding: 5px 20px;">
                    <form id="antoform" class="form-horizontal calender" role="form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Tên dự án</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="project_name"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Trưởng nhóm</label>
                            <div class="col-sm-9">
                                <select type="text" class="form-control" id="select_leader" name="title">
                                    @foreach (var i in emp)
                                    {
                                        <option value="@i.MaNV">@i.Ten</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Khách hàng</label>
                            <div class="col-sm-9">
                                <select type="text" class="form-control" id="select_customer" name="title">
                                    @foreach (var i in cus)
                                    {
                                        <option value="@i.MaKH">@i.Ten</option>
                                    }    
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Thời gian bắt đầu</label>
                            <div class="col-sm-9">
                                <input type="date" class="form-control" id="time_start_pro" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Thời gian kết thúc</label>
                            <div class="col-sm-9">
                                <input type="date" class="form-control" id="time_end_pro">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Mô tả</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" style="height:55px;" id="descr_pro" name="descr"></textarea>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary antosubmit" id="Insert_Project">Thêm</button>
                <button type="button" class="btn btn-default antoclose" data-dismiss="modal">Đóng</button>                
            </div>
        </div>
    </div>
</div>

