@model Model.ViewModel.DuAnViewModel
@{
    ViewBag.Title = "Statistic";
    double hours = ViewBag.hours;
    double total_hours = ViewBag.total_hours;
    List<Model.ViewModel.CongViecViewModel> cv = ViewBag.CongViec;
    Model.EF.NhanVien leader = ViewBag.Leader;
    List<Model.ViewModel.NhanVienViewModel> emp = ViewBag.NhanVien;
    List<Model.EF.NhanVien> ThanhVien = ViewBag.ThanhVien;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var list_vt = ViewBag.list_vt;
    var list_nv = ViewBag.list_nv;

}
@section Project{
    <script src="~/Assets/js/Project.js"></script>
    <script src="~/Assets/js/Task.js"></script>
}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Chi tiết dự án</h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    @*<div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Go!</button>
                            </span>
                        </div>*@
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>@Model.Ten</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            @*<li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a href="#">Settings 1</a>
                                        </li>
                                        <li>
                                            <a href="#">Settings 2</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="close-link"><i class="fa fa-close"></i></a>
                                </li>*@
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content" style="padding-left: 0;">

                        <div class="col-md-9 col-sm-9 col-xs-12" style="padding-left: 0;">

                            <ul class="stats-overview">
                                <li>
                                    <span class="name"> Tổng số giờ làm </span>
                                    <span class="value text-success"> @hours </span>
                                </li>
                                <li>
                                    <span class="name"> Số giờ dự kiến </span>
                                    <span class="value text-success"> @total_hours </span>
                                </li>
                                <li class="hidden-phone">
                                    <span class="name"> Tổng số người làm </span>
                                    <span class="value text-success"> @Model.ThanhVien.Count </span>
                                </li>
                            </ul>
                            <br />

                            @*<div id="mainb" style="height:350px;"></div>*@

                            <!-- Đây là bảng công việc -->
                            <div class="col-md-12 col-sm-12 col-xs-12" style="padding-left: 0;">
                                <div class="x_panel" style="padding: 0;">
                                    <div class="x_title">
                                        <h2>Công việc</h2>
                                        <ul class="nav navbar-right panel_toolbox">
                                            <li>
                                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                            </li>
                                            <li class="dropdown">
                                                <a class="dropdown-toggle" data-toggle="modal" role="button" data-target="#CalenderModalNew"><i class="fa fa-plus"></i></a>
                                            </li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">

                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Tên</th>
                                                    <th>Nội dung</th>
                                                    <th>Leader</th>
                                                    <th>Bắt đầu</th>
                                                    <th>Kết thúc</th>
                                                    <th>Công</th>
                                                    <th>Trạng thái</th>
                                                    <th>Tác vụ</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in cv)
                                                {
                                                <tr>
                                                    <td>@item.Ten</td>
                                                    <td>@item.NoiDung</td>
                                                    <td>@item.Leader</td>
                                                    <td>@item.TgBatDau.Value.ToShortDateString()</td>
                                                    <td>@item.TgKetThuc.Value.ToShortDateString()</td>
                                                    <td>@item.Cong</td>
                                                    <td>
                                                        @if (item.TrangThai == 0)
                                                        {
                                                            <button class="btn btn-primary btn-xs btn_status_cv" title="Đánh dấu là đã hoàn thành" data-id="@item.ID" data-pro="@Model.ID">Chưa hoàn thành</button>
                                                        }
                                                        else
                                                        {
                                                            <button class="btn btn-success btn-xs btn_status_cv" title="Đánh dấu là chưa hoàn tha" data-id="@item.ID" data-pro="@Model.ID">Hoàn thành</button>
                                                        }
                                                    </td>
                                                    <td style="text-align:center; width: 110px;">
                                                        <button class="btn btn-primary btn-xs btn_SuaVC" data-id="@item.ID">Sửa</button> |
                                                        <button class="btn btn-danger btn-xs Delete_CV" data-id="@item.ID" data-pro="@Model.ID">Xóa</button>
                                                    </td>
                                                </tr>
                                                }
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>

                            <div>

                                <h4>Hoạt động gần đây</h4>

                                <!-- end of user messages -->
                                @{
                                    @*if(note.Count > 0)
                                        {
                                            <ul class="messages">
                                                <li>
                                                    <img src="images/img.jpg" class="avatar" alt="Avatar">
                                                    <div class="message_date">
                                                        <h3 class="date text-info">@(note[0].NgayTao.Value.Day)</h3>
                                                        <p class="month">@note[0].NgayTao.Value.Month</p>
                                                    </div>
                                                    <div class="message_wrapper">
                                                        <h4 class="heading">@note[0].Ten</h4>
                                                        <blockquote class="message">@note[0].NoiDung</blockquote>
                                                        <br />
                                                        <p class="url">
                                                            <span class="fs1 text-info" aria-hidden="true" data-icon=""></span>
                                                            <a href="#"><i class="fa fa-paperclip"></i> chitiet.doc </a>
                                                        </p>
                                                    </div>
                                                </li>
                                                @if (note.Count > 1)
                                                {
                                                    <li>
                                                        <img src="images/img.jpg" class="avatar" alt="Avatar">
                                                        <div class="message_date">
                                                            <h3 class="date text-error">@note[1].NgayTao.Value.Day</h3>
                                                            <p class="month">@note[1].NgayTao.Value.Month</p>
                                                        </div>
                                                        <div class="message_wrapper">
                                                            <h4 class="heading">@note[1].Ten</h4>
                                                            <blockquote class="message">@note[1].NoiDung</blockquote>
                                                            <br />
                                                            <p class="url">
                                                                <span class="fs1" aria-hidden="true" data-icon=""></span>
                                                                <a href="#" data-original-title="">chitiet.doc</a>
                                                            </p>
                                                        </div>
                                                    </li>
                                                }
                                            </ul>
                                        }
                                        else
                                        {
                                            <p>Chưa có hoạt động nào gần đây</p>
                                        }*@
                                }

                                <!-- end of user messages -->


                            </div>


                        </div>

                        <!-- start project-detail sidebar -->
                        <div class="col-md-3 col-sm-3 col-xs-12">

                            <section class="panel">

                                <div class="x_title">
                                    <h2>Mô tả dự án</h2>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="panel-body">
                                    <h3 class="green"><i class="fa fa-paint-brush"></i> @Model.Ten</h3>

                                    <p>@Model.MoTa</p>
                                    <br />

                                    <div class="project_detail">

                                        <p class="title">Tên khách hàng</p>
                                        <p>@Model.KhachHang</p>
                                        <p class="title">Trưởng nhóm dự án</p>

                                        <p>@leader.Ten</p>


                                        <p class="title"><a role="button" data-toggle='modal' data-target='#Category_Modal_Insert'>Thành viên</a></p>

                                        @foreach (var member in Model.ThanhVien)
                                        {
                                            try
                                            {
                                                <p>@member.Ten</p>
                                            }
                                            catch
                                            {

                                            }
                                        }
                                    </div>

                                    <br />
                                    <h5>Tài liệu dự án</h5>
                                    <ul class="list-unstyled project_files">
                                        <li>
                                            <a href=""><i class="fa fa-file-word-o"></i> chucnang.docx</a>
                                        </li>
                                        <li>
                                            <a href=""><i class="fa fa-file-pdf-o"></i> yeucau.pdf</a>
                                        </li>
                                        <li>
                                            <a href=""><i class="fa fa-picture-o"></i> Logo.png</a>
                                        </li>
                                    </ul>
                                    <br />

                                    <div class="text-center mtop20">
                                        <a href="#" class="btn btn-sm btn-primary">Thêm tài liệu</a>
                                        <a href="#" class="btn btn-sm btn-warning">Liên hệ</a>
                                    </div>
                                </div>

                            </section>

                        </div>
                        <!-- end project-detail sidebar -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="CalenderModalNew" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Thêm công việc</h4>
            </div>
            <div class="modal-body">
                <div id="testmodal" style="padding: 5px 20px;">
                    <form id="antoform" class="form-horizontal calender" role="form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Tên công việc</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="name_cv" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Công</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="cong_cv" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Trưởng nhóm</label>
                            <div class="col-sm-9">
                                <select type="text" class="form-control" id="select_leader_cv" name="title">
                                    @foreach (var i in emp)
                                    {
                                        <option value="@i.MaNV">@i.Ten</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Thời gian bắt đầu</label>
                            <div class="col-sm-9">
                                <input type="date" class="form-control" id="time_start_cv" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Thời gian kết thúc</label>
                            <div class="col-sm-9">
                                <input type="date" class="form-control" id="time_end_cv">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Nội dung</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" style="height:55px;" id="cong_noidung"></textarea>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary antosubmit" id="Insert_CV" data-id="@Model.ID">Thêm</button>
                <button type="button" class="btn btn-default antoclose" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<div id="CalenderModalEdit" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel2">Công việc</h4>
            </div>
            <div class="modal-body">
                <div id="testmodal2" style="padding: 5px 20px;">
                    <form id="antoform2" class="form-horizontal calender" role="form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Dự án</label>
                            <div class="col-sm-9">
                                <input class="form-control" id="cvv_TenDA" disabled />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Công việc</label>
                            <div class="col-sm-9">
                                <input class="has_author_change form-control" id="cvv_TenCV" disabled />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Thời gian bắt đầu</label>
                            <div class="col-sm-9">
                                <input type="date" class="has_author_change form-control" id="cvv_start_time" disabled />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Thời gian kết thúc</label>
                            <div class="col-sm-9">
                                <input type="date" class="has_author_change form-control" id="cvv_end_time" disabled />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Công</label>
                            <div class="col-sm-9">
                                <input class="has_author_change form-control" id="cvv_cong" disabled />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Nội dung</label>
                            <div class="col-sm-9">
                                <textarea class="has_author_change form-control" style="height:55px;" id="cvv_NoiDung" name="descr" disabled></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Danh sách nhân viên</label>
                            <button type="button" class="has_author_change btn btn-primary" style="float:right" id="edit_them_nv" data-toggle="modal" data-target="#Modal_them_nv" disabled>Thêm nhân viên</button>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Nhân Viên</th>
                                        <th>Vai trò</th>
                                        <th>Fix</th>
                                    </tr>
                                </thead>
                                <tbody id="edit_cv_nv">
                                    @*Table Content*@
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default antoclose2" data-dismiss="modal">Đóng</button>
                <button type="button" class="has_author_change btn btn-primary antosubmit2" id="save_cv" disabled>Lưu</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Sửa vai trò-->
<div id="Modal_sua_vt" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Thêm Member vào dự án</h4>
            </div>
            <div class="modal-body">
                <div id="testmodal" style="padding: 5px 20px;">
                    <form id="antoform" class="form-horizontal calender" role="form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Nhân viên</label>
                            <div class="col-sm-9">
                                <select type="text" class="form-control" id="cv_pick_vtri_change" name="title">
                                    <option selected>Chọn vị trí</option>
                                    @foreach (var item in list_vt)
                                    {
                                        <option value=@item.MaVTri>@item.Ten</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default antoclose" data-dismiss="modal" id="close_sua_vt">Đóng</button>
                <button type="button" class="btn btn-primary antosubmit" id="save_sua_vt">Lưu</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Thêm nhân viên vào công việc-->
<div id="Modal_them_nv" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Thêm Member vào dự án</h4>
            </div>
            <div class="modal-body">
                <div id="testmodal" style="padding: 5px 20px;">
                    <form id="antoform" class="form-horizontal calender" role="form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Nhân viên</label>
                            <div class="col-sm-9">
                                <select type="text" class="form-control" id="cv_pick_emp_add" name="title">
                                    <option selected>Chọn nhân viên</option>
                                    @foreach (var item in list_nv)
                                    {
                                        <option value=@item.MaNV>@item.Ten</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default antoclose" data-dismiss="modal" id="close_them_nvcv">Đóng</button>
                <button type="button" class="btn btn-primary antosubmit" id="save_them_nvcv">Lưu</button>
            </div>
        </div>
    </div>
</div>



