@model Model.ViewModel.DuAnViewModel
@{
    ViewBag.Title = "Statistic";
    double hours = ViewBag.hours;
    double total_hours = ViewBag.total_hours;
    List<Model.ViewModel.GhiChuViewModel> note = ViewBag.Note;
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Chi tiết dự án</h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    @*<div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>*@
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>@Model.Ten</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            @*<li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="#">Settings 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>*@
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">

                        <div class="col-md-9 col-sm-9 col-xs-12">

                            <ul class="stats-overview">
                                <li>
                                    <span class="name"> Tổng số giờ làm </span>
                                    <span class="value text-success"> @hours </span>
                                </li>
                                <li>
                                    <span class="name"> Số giờ dự kiến </span>
                                    <span class="value text-success"> @total_hours </span>
                                </li>
                                <li class="hidden-phone">
                                    <span class="name"> Tổng số người làm </span>
                                    <span class="value text-success"> @Model.ThanhVien.Count </span>
                                </li>
                            </ul>
                            <br />

                            <div id="mainb" style="height:350px;"></div>

                            <div>

                                <h4>Hoạt động gần đây</h4>

                                <!-- end of user messages -->
                                <ul class="messages">
                                    <li>
                                        <img src="images/img.jpg" class="avatar" alt="Avatar">
                                        <div class="message_date">
                                            <h3 class="date text-info">@note[0].NgayTao.Value.Day</h3>
                                            <p class="month">@note[0].NgayTao.Value.Month</p>
                                        </div>
                                        <div class="message_wrapper">
                                            <h4 class="heading">@note[0].Ten</h4>
                                            <blockquote class="message">@note[0].NoiDung</blockquote>
                                            <br />
                                            <p class="url">
                                                <span class="fs1 text-info" aria-hidden="true" data-icon=""></span>
                                                <a href="#"><i class="fa fa-paperclip"></i> chitiet.doc </a>
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="images/img.jpg" class="avatar" alt="Avatar">
                                        <div class="message_date">
                                            <h3 class="date text-error">@note[1].NgayTao.Value.Day</h3>
                                            <p class="month">@note[1].NgayTao.Value.Month</p>
                                        </div>
                                        <div class="message_wrapper">
                                            <h4 class="heading">@note[1].Ten</h4>
                                            <blockquote class="message">@note[1].NoiDung</blockquote>
                                            <br />
                                            <p class="url">
                                                <span class="fs1" aria-hidden="true" data-icon=""></span>
                                                <a href="#" data-original-title="">chitiet.doc</a>
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                                <!-- end of user messages -->


                            </div>


                        </div>

                        <!-- start project-detail sidebar -->
                        <div class="col-md-3 col-sm-3 col-xs-12">

                            <section class="panel">

                                <div class="x_title">
                                    <h2>Mô tả dự án</h2>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="panel-body">
                                    <h3 class="green"><i class="fa fa-paint-brush"></i> @Model.Ten</h3>

                                    <p>@Model.MoTa</p>
                                    <br />

                                    <div class="project_detail">

                                        <p class="title">Tên khách hàng</p>
                                        <p>@Model.KhachHang</p>
                                        <p class="title">Trưởng nhóm dự án</p>
                                        <p>@Model.ThanhVien[0].Ten</p>
                                        <p class="title">Thành viên</p>
                                        @foreach (var member in Model.ThanhVien)
                                        {
                                            <p>@member.Ten</p>
                                        }
                                    </div>

                                    <br />
                                    <h5>Tài liệu dự án</h5>
                                    <ul class="list-unstyled project_files">
                                        <li>
                                            <a href=""><i class="fa fa-file-word-o"></i> chucnang.docx</a>
                                        </li>
                                        <li>
                                            <a href=""><i class="fa fa-file-pdf-o"></i> yeucau.pdf</a>
                                        </li>
                                        <li>
                                            <a href=""><i class="fa fa-picture-o"></i> Logo.png</a>
                                        </li>
                                    </ul>
                                    <br />

                                    <div class="text-center mtop20">
                                        <a href="#" class="btn btn-sm btn-primary">Thêm tài liệu</a>
                                        <a href="#" class="btn btn-sm btn-warning">Liên hệ</a>
                                    </div>
                                </div>

                            </section>

                        </div>
                        <!-- end project-detail sidebar -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

